<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <% if @article.image.attached? %>
        <div class="text-center mb-4">
          <%= image_tag @article.image, size: "850x850", class: "img-fluid rounded" %>
        </div>
      <% end %>

      <div class="blog-header mb-4">
        <h1 class="display-4"><%= @article.title %></h1>
      </div>

      <div class="blog-content mb-5">
        <p class="lead"><%= @article.body %></p>
      </div>

      <div class="comments-section mb-4">
        <%= render "comments/comment", article: @article %>

      <div class="action-links mb-4">
        <%= link_to "Home", root_path, class: "btn me-2", style: "background-color: #F3F4F9; color: gray" %>
        <% if user_signed_in? && @article.user == current_user %>
          <%= link_to "Edit", edit_article_path, class: "btn me-2", style: "background-color: #F3F4F9; color: gray" %>
          <%= link_to "Delete", article_path(@article), class: "btn", style: "background-color: #F3F4F9; color: gray" , data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        <% end %>
      </div>

      <div class="add-comment-section mb-4">
        <%= render "comments/form", article: @article %>
      </div>
    </div>
  </div>
</div>